.containerProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15vh;
  width: 70vw;
}

.bodyProductsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.CartButton {
  background-color: transparent;
  border: none;
  color: white;
  height: 150px;
  margin-right: 180vh;
  margin-top: 5vh;
  position: fixed;
}

.cartShopIcon {
  width: 50px;
}

.spanCartShop {
  align-items: center;
  display: flex;
  gap: 15px;
}
