:root {

  --main-color: #070612;

  --secundary-color: #131128;

  --tertiary-color: #1b183b;

  --white-color: white;

  --pink-color: hsl(314, 99%, 41%);

  --blue-color: #30dcf3;


}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

.cardDiv {
  background-color: var(--secundary-color);
  border: 2px solid var(--tertiary-color);
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 5px;
  width: 150px;
}

.price {
  color: var(--pink-color);
  font-weight: 900;
  margin-right: 15vh;
  margin-top: 1vh;
}

.name {
  color: var(--white-color);
  margin: auto;
  overflow: hidden;
  text-align: start;
  white-space: nowrap;
  width: 70%;
}

.name:hover {
  animation: name 4s linear infinite;
  overflow: hidden;
}


@keyframes name {

  0% { transform: translate(0, 0); }

  100% {
    transform: translate(-100%, 0);
  }
}

.beerImg {
  object-fit: contain;
  width: 100%;
}

.controlQuantity {
  display: flex;
}

.productQuantity {
  appearance: textfield;
  background-color: var(--secundary-color);
  border: var(--secundary-color);
  color: var(--white-color);
  padding: 0;
  text-align: center;
  width: 45px;
}

.subtract {
  background-color: var(--secundary-color);
  border: none;
  color: var(--pink-color);
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 8px;
}

.add {
  background-color: var(--secundary-color);
  border: none;
  color: var(--blue-color);
  font-size: 30px;
  font-weight: 900;
  margin-right: 18px;
  width: 0;
}

.centerDiv {
  align-items: center;
  display: flex;
}


.productQuantity::-webkit-inner-spin-button {
  appearance: none;
}

